#contextMenu {
	position: absolute;
	border: 1px #aaaaaa solid;
	background-color: white;
	z-index: 10;
}

#contextMenu > div {
	padding: 5px;
}

#contextMenu > div:hover {
	background-color: #ebebeb;
}