#contextMenu {
	position: absolute;
	border: 1px #aaaaaa solid;
	background-color: white;
	z-index: 10;
}

#contextMenu > a {
	display: block;
	color: #333;
	text-decoration: none;
	cursor: default;
	padding: 5px;
}

#contextMenu > a:hover {
	background-color: #ebebeb;
}